body {
    font-family: Helvetica;
    background:rgb(65, 65, 65);
}

/* Upper Bar */
.upper-bar {
    background-color: #195fb4;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}

.upper-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.upper-bar li {
    margin-right: 5%;
    margin-left: 5%;
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
    font-size: large;
    font-weight: 600;
}

.upper-bar li:hover {
    transform: scale(1.2);
    color: #00ccf0;
}

.upper-bar li.active {
    transform: scale(1.2);
    color: #c466fb;
}

/* Content Blocks */
.content {
    position: relative;
    height: 720px; /* Adjust based on content height */
    overflow: hidden;
}

.block {
    position: absolute;
    top: 0;
    width: 95%;
    height: 100%;
    padding: 20px;
    transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
    display: none;
}

.block.active {
    display: block;
    left: 0;
    opacity: 1;
}

.block.slide-in-right {
    left: 100%;
}

.block.slide-out-right {
    left: -100%;
}

.block.slide-in-left {
    left: -100%;
}

.block.slide-out-left {
    left: 100%;
}

.cameras {
    background-color: #ffcccc;
}

.registry {
    background-color: #ccffcc;
}

.registry .Entry-Wrapper{
    width: 30%;
    height: 90%;
    background-color: black;
    position: absolute; 
    top: 20px;
    left: 20px;
}

.dashboard {
    background-color: #ccccff;
}

.account {
    background-color: #ffffcc;
}

.group {
    background-color: #ffccff;
}