<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="..\dashboardStyle.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" type="image/x-icon" href="../Resources/icon.png"/>
</head>
<body>
    <div class="upper-bar">
        <ul>
            <li data-target="cameras">Cameras</li>
            <li data-target="registry">Registry</li>
            <li data-target="dashboard">Dashboard</li>
            <li data-target="account">Account</li>
            <li data-target="group">Group</li>
        </ul>
    </div>
    <div class="content">
        <!-- Cameras -->
        <div class="cameras block">
            <div class="move-camera">
                <ul>
                    <button class="button" id="move-0">0°</button>
                    <button class="button" id="move-45">45°</button>
                    <button class="button" id="move-90">90°</button>
                    <button class="button" id="move-135">135°</button>
                    <button class="button" id="move-180">180°</button>
                </ul>
            </div>
            <div>
                <button class="button" id="unlock">Unlock</button>
            </div>
        </div>
        <!-- Registry -->
        <div class="registry block">
            <div class="container">
                <div class="column">
                  <h2>Allowed</h2>
                  <p></p>
                </div>
                <div class="column">
                  <h2>Blocked</h2>
                  <p></p>
                </div>
              </div>
        <div class="table-container">
            <h2>History</h2>
                <table>
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Date</th>
                      <th>Time</th>
                      <th>Camera</th>
                    </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
            </div>
        </div>
        <!-- Dashboard -->
        <div class="dashboard block active">
          <div class="activeCamera">
              <img id="video" src="http://127.0.0.1:5000/video_feed" width="923" height="505" alt="Camera Feed">
              <form onsubmit="return false;">
              <button id="unlock" type="button" class="button" onclick="recognizedPerson()">Recognized person</button>
              <button id="notRecognized" type="button" class="button" onclick="unrecognizedPerson()">Unrecognized person</button>
              <button id="capture" type="button" class="button" onclick="Capture()">Capture image</button>
              </form>
          </div>
          <div class="history">
            
          </div>
          <div class="live">
          <div class="person"></div>
          </div>
          <div class="information">           
            All users appearing on camera are being monitored in real-time by CentinelAi's intelligence system. If any issues or errors are detected, please reach out to us here for assistance.
          </div>
        </div>
        <!-- Account -->
        <div class="account block">

        </div>
        <!-- Group -->
        <div class="group block">
          <div class="createGroup">
            <button class="button" onclick="createGroup()">Create Group</button>
          </div>
          <div class="groupcode">
          <h2>Group Code</h2>
          <button class="button" onclick="showCode()">Show Code</button>
          <p id="display-text" type="password"></p>
          </div>
        </div>
    </div>
    <script src="..\static\Dashboard.js"></script>
</body>
</html>
